<div class="container">
    <div class="votador">
        <button><img src="../../../assets/images/icon-plus.svg" class="trigger"></button>
        <p class="cantidad">12</p>
        <button><img src="../../../assets/images/icon-minus.svg"></button>
    </div>
    <div class="comentario">
        <img class="foto_perfil" src="../../../assets/images/avatars/image-amyrobson.webp">
        <p class="nick">juliusomo</p>
        <p class="you">You</p>
        <p class="date">1 month ago</p>
        <button class="delete"><img src="../../../assets/images/icon-delete.svg" class="icon">Delete</button>
        <button class="edit"><img src="../../../assets/images/icon-edit.svg" class="icon">Edit</button>
        <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eum totam architecto pariatur ratione, fugiat est repellat voluptate error quam ducimus labore, in, illum placeat laborum similique assumenda rem excepturi.</p>
    </div>
</div>